<div class="tarjeta-container">

  <div class="tarjeta">
    <img src="/assets/images/dashboard/ritmo-cardiaco.png" class="icon">
    <div class="content" [ngStyle]="{'font-family': getFont(customFonts.IMPACT)}">
      <p class="titulos">Frecuencia Cardiaca</p>
      <p class="value">0 lpm</p>
    </div>
  </div>

  <div class="tarjeta">
    <img src="/assets/images/dashboard/celulas-sanguineas.png" class="icon">
    <div class="content" [ngStyle]="{'font-family': getFont(customFonts.IMPACT)}">
      <p class="titulos">Oxigenación</p>
      <p class="value">0%</p>
    </div>
  </div>

  <div class="tarjeta">
    <img src="/assets/images/dashboard/ganador.png" class="icon">
    <div class="content" [ngStyle]="{'font-family': getFont(customFonts.IMPACT)}">
      <p class="titulos">Mis Trofeos</p>
      <p class="value">0</p>
    </div>
  </div>

  <div class="tarjeta">
    <img src="/assets/images/dashboard/calorias.png" class="icon">
    <div class="content" [ngStyle]="{'font-family': getFont(customFonts.IMPACT)}">
      <p class="titulos">Calorías Quemadas</p>
      <p class="value">0.0</p>
    </div>
  </div>

  <div class="tarjeta">
    <img src="/assets/images/dashboard/play.png" class="icon">
    <div class="content" [ngStyle]="{'font-family': getFont(customFonts.IMPACT)}">
      <p class="titulos">Rutina</p>
      <p class="value">Sin Rutina</p>
    </div>
  </div>

  <div class="tarjeta-salir">
    <img src="/assets/images/dashboard/salir.png" class="icon-salir">
  </div>

</div>
