<div class="tarjeta-container">

  <div class="tarjeta">
    <img src="/Assets/images/Dashboard/ritmo-cardiaco.png" class="icon">
    <div class="content">
      <p class="titulos" [ngStyle]="{'font-family': getFont(customFonts.IMPACT)}">Frecuencia Cardiaca</p>
      <p class="value" [ngStyle]="{'font-family': getFont(customFonts.K2D_REGULAR)}">0 lpm</p>
    </div>
  </div>

  <div class="tarjeta">
    <img src="/Assets/images/Dashboard/celulas-sanguineas.png" class="icon">
    <div class="content">
      <p class="titulos" [ngStyle]="{'font-family': getFont(customFonts.IMPACT)}">Oxigenación</p>
      <p class="value" [ngStyle]="{'font-family': getFont(customFonts.K2D_REGULAR)}">0%</p>
    </div>
  </div>

  <div class="tarjeta">
    <img src="/Assets/images/Dashboard/ganador.png" class="icon">
    <div class="content">
      <p class="titulos" [ngStyle]="{'font-family': getFont(customFonts.IMPACT)}">Mis Trofeos</p>
      <p class="value">0</p>
    </div>
  </div>

  <div class="tarjeta">
    <img src="/Assets/images/Dashboard/calorias.png" class="icon">
    <div class="content">
      <p class="titulos" [ngStyle]="{'font-family': getFont(customFonts.IMPACT)}">Calorías Quemadas</p>
      <p class="value">0.0</p>
    </div>
  </div>

  <div class="tarjeta">
    <img src="/Assets/images/Dashboard/play.png" class="icon">
    <div class="content">
      <p class="titulos" [ngStyle]="{'font-family': getFont(customFonts.IMPACT)}">Rutina</p>
      <p class="value">Sin Rutina</p>
    </div>
  </div>

  <div class="tarjeta-salir">
    <img src="/Assets/images/Dashboard/salir.png" class="icon-salir">
  </div>

</div>
