<div class="registro-container">

  <!-- Logo superior izquierda -->
  <div class="logo-container">
    <img src="assets/images/Formulario/FitManager.png" class="logo" alt="FitManager">
  </div>

  <h1 class="titulo">Formulario</h1>

  <form class="formulario">

    <div class="campo">
      <label>Nombre</label>
      <input type="text" placeholder="Ingresa tu nombre:">
    </div>

    <div class="campo">
      <label>Apellido</label>
      <input type="text" placeholder="Ingresa tu apellido:">
    </div>

    <div class="campo">
      <label>Edad</label>
      <input type="number" placeholder="Ingresa tu edad:">
    </div>

    <div class="campo">
      <label>Estatura</label>
      <input type="number" placeholder="Ingresa tu estatura en cm:">
    </div>

    <div class="campo">
      <label>Peso</label>
      <input type="number" placeholder="Ingresa tu peso, ejemplo 65.7:">
    </div>

    <!-- SELECT: Tipo de cuerpo -->
    <div class="campo">
      <label>Tipo de cuerpo</label>
      <select required>
        <option value="" disabled selected>Selecciona tu tipo de cuerpo</option>
        <option value="ectomorfo">Ectomorfo</option>
        <option value="mesomorfo">Mesomorfo</option>
        <option value="endomorfo">Endomorfo</option>
      </select>
    </div>

    <!-- SELECT: Objetivo -->
    <div class="campo">
      <label>Selecciona el objetivo por el cual quieres entrar</label>
      <select required>
        <option value="" disabled selected>Selecciona tu objetivo</option>
        <option value="masa">Subir masa muscular</option>
        <option value="bajar">Bajar de peso</option>
        <option value="tonificar">Tonificar</option>
        <option value="mantener">Mantenerse en forma</option>
      </select>
    </div>

    <!-- SELECT: Frecuencia -->
    <div class="campo">
      <label>Frecuencia de tu asistencia</label>
      <select required>
        <option value="" disabled selected>Selecciona tu frecuencia</option>
        <option value="1">1 vez por semana</option>
        <option value="2">2 veces por semana</option>
        <option value="3">3 veces por semana</option>
        <option value="4">4 veces por semana</option>
        <option value="5">5 veces por semana</option>
        <option value="7">Diario</option>
      </select>
    </div>

    <div class="campo">
      <label>Tipo de alimentación</label>
      <input type="text" placeholder="Tipo de alimentación:">
    </div>

    <button class="btn-registro">Completar registro</button>

  </form>
</div>
