<!-- CONTENEDOR PRINCIPAL -->
<div class="video-container">

  <!-- HEADER -->
  <div class="video-header">

    <button class="menu-btn" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <div class="progress-wrapper">

      <span
        class="label green"
        [ngStyle]="{ 'font-family': getFont(customFonts.IMPACT) }"
      >
        Progreso
      </span>

      <input
        type="range"
        min="0"
        [max]="duration"
        [(ngModel)]="currentTime"
        (input)="seekVideo()"
      />

    </div>

    <div class="timer">

      <span
        class="label orange"
        [ngStyle]="{ 'font-family': getFont(customFonts.IMPACT) }"
      >
        Cronómetro
      </span>

      <span class="time orange time-rigth">
        {{ formatTime(currentTime) }}
      </span>

    </div>

  </div>
  <!-- FIN HEADER -->

  <!-- VIDEO -->
  <div class="video-box" *ngIf="videoActual as video">

    <video
      #video
      [src]="videoActual?.urlVideo"
      (loadeddata)="onVideoReady()"
      (click)="togglePlay()"
      (timeupdate)="updateTime()"
      (ended)="onVideoEnded()"
    >
    </video>

    <button
      class="play-btn"
      *ngIf="!isPlaying"
      (click)="togglePlay(); $event.stopPropagation()"
    >
      ▶
    </button>

  </div>
  <!-- FIN VIDEO -->

  <!-- FOOTER -->
  <div class="video-footer" *ngIf="videoActual as video">

    <div class="info">

      <h3 [ngStyle]="{ 'font-family': getFont(customFonts.IMPACT) }">
        {{ rutinaSeleccionada?.nombreLista ?? '' }} -
        {{
          rutinaSeleccionada?.listaVideos?.[this.videoActualIndex]?.nombreVideo ?? ''
        }}
      </h3>

      <p [ngStyle]="{ 'font-family': getFont(customFonts.IMPACT) }">
        {{ video.nombreCoach ?? '' }}
      </p>

    </div>

    <button
      class="end-btn"
      [ngStyle]="{ 'font-family': getFont(customFonts.IMPACT) }"
      (click)="endVideo()"
    >
      Terminar ➜
    </button>

  </div>
  <!-- FIN FOOTER -->

  <!-- OVERLAY -->
  <div
    class="menu-overlay"
    *ngIf="isMenuOpen"
    (click)="toggleMenu()"
  >
  </div>

  <!-- MENÚ LATERAL -->
  <div class="side-menu" [class.open]="isMenuOpen">

    <app-lista-video
      [videos]="rutinaSeleccionada?.listaVideos"
      [videoActivo]="videoActualIndex"
      (closeMenu)="toggleMenu()"
      (seleccionarVideo)="cambiarVideo($event)"
    >
    </app-lista-video>

  </div>

</div>
