/* Fondo general */
.page-background {
  background: linear-gradient(to bottom,  #000000,#5c0404dc);
  padding: 0px 15px;
  min-height: 100vh;
}

/* Contenedor centrado */
.page-container {
  max-width: 900px;
  margin: auto;
  padding: 10px;
}

/* Título de la página */
.title {
  color: rgba(255, 255, 255, 0.966);
  font-size: 38px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-top: 2rem;  
  padding-left: 10px;
}

/* Tarjeta de cada plan */
.plan-card {
  background: white;
  border-radius: 30px;
  padding: 25px;
  margin-bottom: 50px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
  transition: 0.3s ease;
}

.plan-card.selected {
  transform: scale(1.02);
}

/* Título del plan */
.plan-title {
  font-size: 30px;
  font-weight: bold;
}

.red {
  color: #ff0000;
}

.black {
  color: black;
}

/* Descripción */
.plan-description {
  margin-top: 10px;
  font-size: 16px;
  color: #000000;
}

/* Precio del plan */
.price-tag {
  margin-top: 15px;
  text-align: right;
}

.price-red {
  font-size: 32px;
  font-weight: bold;
  color: #ff0000;
  /*display: block;*/
}

.price-black {
  font-size: 20px;
  color: black;
}

/* Botón contratar */
.btn-contratar {
  margin-top: 20px;
  background: #ff0000;
  border: none;
  color: white;
  padding: 10px 22px;
  font-size: 18px;
  border-radius: 100px;
  cursor: pointer;
  transition: 0.2s;
}

.btn-contratar:hover {
  background: #a30000;
}

/* Formulario */
.form-container {
  margin-top: 20px;
  font-size: 17px; /* agregada el sabado 13 como observacion*/
}

input {
  color: rgb(255, 255, 255);
  width: 100%;
  padding: 5px;
  border-radius: 100px;
  border: 1px solid #ff0000;
  margin-bottom: 20px;
  outline: none;
  background-color: #ff0000;
  font-size: 17px; /* agregada el sabado 13 como observacion*/
  
}

::placeholder{
  color: rgba(255, 255, 255, 0.692);
}

/* Fila 50/50 */
.row {
  display: flex;
  gap: 40px;
}

.column {
  flex: 1;
}

/* Botones inferiores */
.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn-cancelar,
.btn-pagar {
  padding: 10px 30px;
  border-radius: 100px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  text-align: center;
}

.btn-cancelar:hover {
  background: #cc0000;
}

.btn-pagar:hover {
  background: #cc0000;
}


.btn-cancelar {
  background: #ff0000;
  color: white;
}

.btn-pagar {
  background: #ff0000;
  color: white;
}

/* */
/* barra superior */
.topbar {
  /*width: 100%;*/
  /*padding: 1px 20px;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
   padding-bottom: 0px;
   padding-top: 5px;
}


.topbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.member-logo {
  width: 180px;     /* tamaño fijo */
  min-width: 180px; /* evita que se achique */
  height: auto;
  object-fit: contain;
}

html, body {
  overflow-x: hidden;
}

.brand {
  font-size: 28px;
  font-weight: bold;
}

.topbar-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.perfil-ico {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  /*border: 2px solid white;*/
}

.username {
 /* font-size: 20px;*/
  color: white;
  white-space: nowrap;
  overflow: hidden;           
  text-overflow: ellipsis;
  max-width: 130px;
}


@media (max-width: 650px) {

  /* ===== Layout general ===== */
  .page-background {
    padding: 0px 15px;
  }

  /* ===== Topbar ===== */
  .topbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
  }

  .topbar-left {
    flex-shrink: 0;
  }  

  /* ===== Usuario ===== */
  .username {
    max-width: 90px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /* ===== Título ===== */
  .title {
    margin-left: 10px;
    font-size: 32px;
  }
}