
<header class="header-container">
    
  <div class="logo-text">
    <img src="/Assets/Images/Membresia/FitManager.png" alt="perfil">
  </div>

  
  <div class="profile-section">
    <div class="profile-icon"></div>

    <div class="perfil-info">
      <h3 class="profile-name" [ngStyle]="{ 'font-family': getFont(CustomFonts.IMPACT)}">Ivan Carmona</h3>
      <span class="profile-role" [ngStyle]="{ 'font-family': getFont(CustomFonts.K2D_REGULAR)}">EliteAthlete</span>
    </div>
  </div>

</header>