<!-- Eliminado el host para que funcione dentro del menú lateral -->
<div
  class="lista-video"
  [ngStyle]="{ 'font-family': getFont(CustomFonts.IMPACT) }"
>

  <div class="logo-container">
    <img
      src="/assets/images/membresia/FitManager.png"
      alt="logo"
    >
  </div>

  <div
    class="titulo"
    [ngStyle]="{ 'font-family': getFont(CustomFonts.IMPACT) }"
  >
    Lista de videos
  </div>

  <ul class="lista">

    <li
      *ngFor="let video of videos; let i = index"
      [class.activo]="i === videoActivo"
      (click)="seleccionar(i)"
    >
      {{ video.nombreVideo }}
      <span *ngIf="video.videoVisto">✔</span>
    </li>

  </ul>

  <div class="footer">
    <!-- Agregadoclick para cerrar menú -->

    <button
      class="cerrar"
      [ngStyle]="{ 'font-family': getFont(CustomFonts.IMPACT) }"
      (click)="cerrarMenu()"
    >
      Cerrar
    </button>

  </div>

</div>
