.titulo {
  font-size: 42px;
  font-weight: 800;
  color: white;      /* ← texto blanco */
  margin-left: 50px; /* ← separación de 20px desde la izquierda */
  margin-bottom: 35px;
  text-align: left;
}

/* Fondo negra y centrado */
.page-wrapper {
  background: #000;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 40px 20px 60px 20px;
}

/* Contenedor de los planes */
.planes-container {
  width: 90%;
  max-width: 700px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* Tarjetas blancas */
.plan-card {
  background: white;
  color: black;
  border-radius: 25px;
  padding: 30px 35px;
  margin-bottom: 45px;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.1);
}

/* Titulos */
.plan-title {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 10px;
}

.rojo {
  color: #ff1a1a;
}

/* Descripción */
.plan-desc {
  font-size: 17px;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* Precio */
.plan-price {
  text-align: right;
  font-size: 30px;
  font-weight: 900;
}

.precio-rojo {
  color: #ff1a1a;
}

.precio-negro {
  color: black;
  font-size: 20px;
  margin-left: 5px;
}

/* Footer */
.footer {
  text-align: center;
  font-size: 12px;
  opacity: 0.7;
  margin-top: -15px;
}

/* RESPONSIVE */
@media (max-width: 600px) {
  .plan-card {
    padding: 25px;
  }

  .plan-title {
    font-size: 24px;
  }

  .plan-price {
    font-size: 26px;
  }

  .precio-negro {
    font-size: 18px;
  }

  .titulo {
    font-size: 34px;
  }
}
