<div class="videos-container">
     <h2 class="titulo-lista" [ngStyle]="{ 'font-family': getFont(CustomFonts.IMPACT)}">Lista de
    videos</h2>
        <div class="videos-grid">
            <div class="video-card" *ngFor="let video of videos" (click)="clicRutine(video)">
                <img [src]="video.imagenRutina || ''" [alt]="video.nombreLista || ''" />
                <div class="video-title" [ngStyle]="{ 'font-family': getFont(CustomFonts.K2D_REGULAR)}">{{
            video.nombreLista || '' }}
            </div>
        </div>
    </div>
</div>